<h4 class="text-center">Resident Profile</h4>
<div class="table-responsive-sm">
  <table class="table table-sm table-hover">
    <tr>
      <td colspan="3"><strong>Reminder(s): </strong>{{ resident.reminders }}</td>          
    </tr>
    <tr>
      <td rowspan="2"><strong>Diagnosis: </strong>{{ admission.admitting_diagnosis }}</td>
      <td rowspan="2"><strong>Diet: </strong>{{ resident.diet }}</td>
      <td><strong>Weight: </strong>{{ resident.weight }}</td>
    </tr>     
    <tr>      
      <td><strong>Height: </strong>{{ resident.height }}</td>
    </tr>
    <tr>
      <td><strong>Surname: </strong>{{ resident.last_name }}</td>
      <td><strong>First Name: </strong>{{ resident.given_name }}</td>
      <td><strong>Middle Name: </strong>{{ resident.middle_name }}</td>    
    </tr>
    <tr>
      <td>
        <strong>Age: </strong>
        {% if admission.discharged %}
          <strong>Resident has been discharged</strong>        
        {% else %}
          {{ resident.date_of_birth|timesince }} old
        {% endif %}
      </td>
      <td><strong>Birth Date: </strong>{{ resident.date_of_birth }}</td>
      <td><strong>OSCA ID #: </strong>{{ resident.osca_id }}</td>    
    </tr>
    <tr>
      <td colspan="2"><strong>Address: </strong>{{ resident.address }}</td>
      <td><strong>Philhealth #: </strong>{{ resident.philhealth_number }}</td>     
    </tr>
    <tr>       
        
      <td colspan="2"><strong>Most Recent Occupation: </strong>{{ resident.most_recent_occupation }}</td>
      <td><strong>Maxicare #: </strong>{{ resident.maxicare_number }}</td>          
    </tr>
    <tr>     
      <td><strong>Date of Admission: </strong>{{ admission.date_of_admission }}</td>
      <td><strong>Time of Admission: </strong>{{ admission.time_of_admission }}</td> 
      <td><strong>Room: </strong>{{ resident.room }}</td>   
    </tr>
  </table> 
</div>
  
 
