<h3>Residences</h3>
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a {% if not residence %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'geriatrics:admissions' %}" >Admissions</a>
  </li>
  {% for r in residences %}
    <li class="nav-item">
      <a {% if residence.id == r.id %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="#" >{{ r.name|capfirst }}</a>
    </li>
  {% endfor %}    
</ul>
<hr>