{% extends 'geriatrics/base.html' %}
{% load static %}

{% block title %}
  Geriatrics | {{ title }}
{% endblock %}

{% block header %}
  {% include 'geriatrics/includes/header.html' %}
{% endblock %}

{% block content %}  
<div class="row p-2">  
  <div id="main" class="col-md-9">
    {% if perms.geriatrics.view_admission %}
    <h3>{{ admission.resident }}</h3>
    <div class="row">
      {% with resident=admission.resident %}
      <div class="col-md-3">
      {% if resident.photo %}
          <div class="text-center"><img src="{{ resident.photo.url }}" class="img-thumbnail" alt="Responsive image" width="300" height="199"></div>
        {% else %}
          <div class="text-center"><img src="{% static "img/avatar.png" %}" class="img-thumbnail" alt="Avatar"></div>
        {% endif %}
        
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-tabs text-center"
      id="v-tabs-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link"
        id="v-tabs-profile-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-profile"
        role="tab"
        aria-controls="v-tabs-profile"
        aria-selected="false"
        >Resident Profile</a
      >
      <a
        class="nav-link"
        id="v-tabs-overview-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-overview"
        role="tab"
        aria-controls="v-tabs-overview"
        aria-selected="false"
        >Systematic Overview</a
      >
      <a
        class="nav-link"
        id="v-tabs-kardex-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-kardex"
        role="tab"
        aria-controls="v-tabs-kardex"
        aria-selected="false"
        >Kardex</a
      >
      <a
        class="nav-link"
        id="v-tabs-documents-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-documents"
        role="tab"
        aria-controls="v-tabs-documents"
        aria-selected="false"
        >Scanned Documents</a
      >
      <a
        class="nav-link"
        id="v-tabs-vs-tab"
        data-mdb-toggle="tab"
        href="#v-tabs-vs"
        role="tab"
        aria-controls="v-tabs-vs"
        aria-selected="false"
        >Patient Monitoring</a
      >
    </div>
    <!-- Tab navs -->
  </div>

  <div class="col-md-9">
    <!-- Tab content -->
    <div class="tab-content" id="v-tabs-tabContent">
      <div
        class="tab-pane fade"
        id="v-tabs-profile"
        role="tabpanel"
        aria-labelledby="v-tabs-profile-tab"
      >
        {% include 'geriatrics/includes/resident_profile.html' %}
      </div>
      <div
        class="tab-pane fade"
        id="v-tabs-overview"
        role="tabpanel"
        aria-labelledby="v-tabs-overview-tab"
      >
        {% include 'kardex/systematic_overview_tablist.html' %}
      </div>
      <div
        class="tab-pane fade"
        id="v-tabs-kardex"
        role="tabpanel"
        aria-labelledby="v-tabs-kardex-tab"
      >
        {% include 'kardex/kardex_tablist.html' %}
      </div>      
      <div
        class="tab-pane fade"
        id="v-tabs-documents"
        role="tabpanel"
        aria-labelledby="v-tabs-documents-tab"
      >
        {% include 'scanned_docs/scanned_docs.html' %}
      </div>
      <div
        class="tab-pane fade"
        id="v-tabs-vs"
        role="tabpanel"
        aria-labelledby="v-tabs-vs-tab"
      >
        {% include 'patient_monitoring/patient_monitoring_tablist.html' %}       
      </div>
    </div>
    <!-- Tab content -->
  </div>
      
      {% endwith %}
    </div>
    {% else %}
      <div class="alert alert-dismissible alert-warning fade show">
        <button type="button" class="close" data-mdb-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Oh snap!</h4>
        <p class="mb-0">You don't have permission to access the contents of this page. Please <a href="{% url 'cm_portal:contact' %}" class="alert-link">contact</a> your web administrator to request access.</p>
      </div>
    {% endif %}
    
  </div>
  {% include 'geriatrics/includes/sidebar.html' %}
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'scripts/admission_detail.js' %}"></script>
{% endblock %}








