{% extends 'geriatrics/base.html' %}
{% load static %}

{% block title %}
  Geriatrics | {{ title }}
{% endblock %}

{% block header %}
  {% include 'geriatrics/includes/header.html' %}
{% endblock %}

{% block content %}
<div class="row p-2">      
  <div id="main" class="col-lg-9">
    <h3>All admissions</h3>
    {% if perms.geriatrics.view_admission %}
    <div class="row">
      {% if admission_list %}
        {% load render_table from django_tables2 %}
        {% render_table table %}
      {% else %}
        <div class="alert alert-dismissible alert-info fade show">
          <button type="button" class="close" data-mdb-dismiss="alert">&times;</button>
          <h4 class="alert-heading">Heads up!</h4>
          <p class="mb-0">There is nothing to show; database is currently empty. Please <a href="{% url 'geriatrics_admin:index' %}" class="alert-link">create</a> a record first.</p>
        </div>     
      {% endif %}
    </div>
    {% else %}
      <div class="alert alert-dismissible alert-warning fade show">
        <button type="button" class="close" data-mdb-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Oh snap!</h4>
        <p class="mb-0">You don't have permission to access the contents of this page. Please <a href="{% url 'cm_portal:contact' %}" class="alert-link">contact</a> your web administrator to request access.</p>
      </div>
    {% endif %}
  </div>
  {% include 'geriatrics/includes/sidebar.html' %}
</div>
{% endblock %}

